@import '../variables.scss';

.card-restaurante {
    background-color: $cinza3;
    border-radius: $border-radius-padrao;
    display: flex;
    flex-direction: column;
    margin: $margin-between-cards 0;
    width: $card-width;

    &__imagem {
        border-radius: $border-radius-padrao $border-radius-padrao 0 0;
        height: 9rem;
        object-fit: cover;
        user-select: none;
        width: 100%;
    }

    &__dados {
        padding: .65rem;
        &__nome {}
        &__horarioAbertura {}
        &__horarioFechamento {}
        &__distancia {}
    }
}