@import '../variables';

#conteudo-inicio {
    &__lista-restaurantes {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 44rem;
        overflow-y: scroll;
        width: 100%;

        &::-webkit-scrollbar { width: 0; }
    }
}