@import '../variables';

footer#footer-navegacao {
    display: flex;
    flex-direction: row;
    font-weight: $font-extra-light;
    justify-content: space-evenly;
    padding: $padding-in-footers 0;
    position: relative;
}