@import '../variables';

#header-navegacao {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    
    a[aria-disabled="true"] {
        pointer-events: none;
        opacity: .5;
    }

    &__carrinho {
        color: $verde;
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        right: 10%;
        top: 40%;
    }
    
    .badge:after {
        content: attr(title);
        font-size: 1rem;
        color: #fff;
        background: $preto;
        border-radius:50%;
        padding: 0 5px;
        position: absolute;
        right: 6%;
        top: 33%;
    }
}