@import '../variables';

#header-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &__carrinho {
        color: $verde;
        position: absolute;
        right: 10%;
        top: 30%;
    }
}