@import '../variables';

#header-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    position: relative;

    &__carrinho {
        color: $verde;
        font-size: 1.2rem;
        position: absolute;
        right: 10%;
        top: 32%;
    }
}