@import '../variables';

#mobile-container {
    background-color:rgba(216, 214, 208, .85);
    display: flex;
    justify-content: center;
    vertical-align: center;

    &__content {
        background-color: $branco;
        height: 100vh;
        max-height: 940px;
        min-width: 390px;
        width: 28vw;
    }
}