@import './variables';

* {
    font-family: $inter;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    background-color: $branco;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;

    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

.clicavel {
    cursor: pointer;
}


.item-nao-encontrado {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 44rem;
    width: 100%;

    a#voltar-inicio {
        color: $verde;
        font-weight: $font-semibold;
        text-decoration: underline;
    }
}

div[id^=pagina-] {
    display: grid;
    grid-template: 
        'header'
        'main'
        'main'
        'main'
        'footer';
    height: 100vh;
}

header[id^=header-] {
    grid-area: header;
    height: 12vh;
}

main[id^=conteudo-] {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    height: 76vh;
}

footer[id^=footer-] {
    border-top: 1px solid $cinza3;
    grid-area: footer;
    height: 12vh;
}

@media only screen and (max-width: 40rem) {
    html { font-size: 11px; }
}

@media only screen and (max-width: 20rem) {
    html { font-size: 9px; }
}