@import './variables';

* {
    font-family: $inter;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $branco;
    height: 100%;
    margin: 0;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;

    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

div[id^=pagina-] {
    display: grid;
    grid-template: 
        'header'
        'main'
        'main'
        'main'
        'footer';
    height: 100vh;
}

header[id^=header-] {
    grid-area: header;
    height: 12vh;
}

main[id^=conteudo-] {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    height: 76vh;
}

footer[id^=footer-] {
    grid-area: footer;
    height: 12vh;
}